<script src="/sidebar-07/js/jquery.min.js"></script>
<script src="/sidebar-07/js/popper.js"></script>
<script src="/sidebar-07/js/bootstrap.min.js"></script>
<script src="/sidebar-07/js/main.js"></script>

<!--===============================================================================================-->
<script src="/vendor/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/vendor/bootstrap/js/popper.js"></script>
<script src="/vendor/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/js/main.js"></script>


</body>
</html>