{{#layout}}

    <link href="/css/profile/profile.css" rel='stylesheet' type="text/css"/>

    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-xl-10 col-md-15">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    <div class="m-b-25"><img src="https://img.icons8.com/bubbles/100/000000/user.png"
                                                             class="img-radius" alt="User-Profile-Image"></div>
                                    <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="card-block">
                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">회원 정보</h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Email</p>
                                            <h6 class="text-muted f-w-400">{{userEmail}}</h6>
                                        </div>
                                    </div>
                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">건강 정보</h6>
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <p class="m-b-10 f-w-600">당뇨 단계</p>
                                            <h6 class="text-muted f-w-400">{{profile.diabetesPhase}}</h6>
                                        </div>
                                    </div>
                                    <div class="form-group" id="profile-btn">
                                        <button class="btn btn-info" id="updateProfileBtn">
                                            프로필 수정하기
                                        </button>
                                        <button class="btn btn-danger" id="withdrawalBtn">
                                            회원 탈퇴하기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="profileModal">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">당뇨 단계 수정하기</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" id="phaseSelect">
                        <select id="phaseSelector" class="form-control" aria-label="Diabetes phase">
                            <option value="NORMAL">정상(공복혈당 100미만)</option>
                            <option value="PRE_DIABETES">전 단계(공복혈당 100이상 125이하)</option>
                            <option value="DIABETES">당뇨병 (공복혈당 126이상)</option>
                        </select>
                    </div>
                </div> <!-- 모달 본문 -->

                <div class="modal-footer">
                    <button id='profileModalDecideBtn' class="btn btn-info">결정</button>
                    <button id='profileModalCloseBtn' class="btn btn-danger" data-dismiss="modal">닫기</button>
                </div> <!-- 모달 버튼 -->
            </div>
        </div>
    </div>

    <div id="withdrawalModal">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">회원 탈퇴 여부</h4>
                </div>
                <div class="modal-body">
                    <p>정말로 회원 탈퇴하시겠습니까?</p>
                </div> <!-- 모달 본문 -->

                <div class="modal-footer">
                    <button id='withdrawalModalDecideBtn' class="btn btn-danger">결정</button>
                    <button id='withdrawalModalCloseBtn' class="btn btn-primary" data-dismiss="modal">취소</button>
                </div> <!-- 모달 버튼 -->
            </div>
        </div>
    </div>



    <script src="/js/profile/profile.js"></script>
{{/layout}}