{{#layout}}
  <link href="/css/calendar/calendar.css" rel='stylesheet' type="text/css"/>

  <input type='hidden' id="calendarId" value=""/>

  <div class="content-back">
    <div class="table100 ver3 m-b-110">
      <table id="calendarTable">
        <thead id="calendarThead">
        <tr>
          <td colspan="7" class="calendarTop">
            <button type='button' id='fastPre'><i class="fas fa-angle-double-left"></i></button>
            <button type='button' id='pre'><i class="fas fa-angle-left"></i></button>
            <span class="calendarTopTitle" id='yearMonth'></span>
            <button type='button' id='next'><i class="fas fa-angle-right"></i></button>
            <button type='button' id='fastNext'><i class="fas fa-angle-double-right"></i></button>
            <div>
              <span class="calendarTopTitle">Diabetes Diary Calendar</span>
            </div>
          </td>
        </tr>
      </table>

      <table data-vertable="ver3">
        <thead id="thead">
        <tr class="row100 head">
          <th class="column100 column1" data-column="column1"></th>
          <th class="column100 column2" data-column="column2">Sunday</th>
          <th class="column100 column3" data-column="column3">Monday</th>
          <th class="column100 column4" data-column="column4">Tuesday</th>
          <th class="column100 column5" data-column="column5">Wednesday</th>
          <th class="column100 column6" data-column="column6">Thursday</th>
          <th class="column100 column7" data-column="column7">Friday</th>
          <th class="column100 column8" data-column="column8">Saturday</th>
        </tr>
        </thead>

        <tbody id="tbody">
        <tr class="row100" id="row1">
          <td class="column100 column1" data-column="column1"></td>
          <td class="column100 column2" data-column="column2"></td>
          <td class="column100 column3" data-column="column3"></td>
          <td class="column100 column4" data-column="column4"></td>
          <td class="column100 column5" data-column="column5"></td>
          <td class="column100 column6" data-column="column6"></td>
          <td class="column100 column7" data-column="column7"></td>
          <td class="column100 column8" data-column="column8"></td>
        </tr>

        <tr class="row100" id="row2">
          <td class="column100 column1" data-column="column1"></td>
          <td class="column100 column2" data-column="column2"></td>
          <td class="column100 column3" data-column="column3"></td>
          <td class="column100 column4" data-column="column4"></td>
          <td class="column100 column5" data-column="column5"></td>
          <td class="column100 column6" data-column="column6"></td>
          <td class="column100 column7" data-column="column7"></td>
          <td class="column100 column8" data-column="column8"></td>
        </tr>

        <tr class="row100" id="row3">
          <td class="column100 column1" data-column="column1"></td>
          <td class="column100 column2" data-column="column2"></td>
          <td class="column100 column3" data-column="column3"></td>
          <td class="column100 column4" data-column="column4"></td>
          <td class="column100 column5" data-column="column5"></td>
          <td class="column100 column6" data-column="column6"></td>
          <td class="column100 column7" data-column="column7"></td>
          <td class="column100 column8" data-column="column8"></td>
        </tr>

        <tr class="row100" id="row4">
          <td class="column100 column1" data-column="column1"></td>
          <td class="column100 column2" data-column="column2"></td>
          <td class="column100 column3" data-column="column3"></td>
          <td class="column100 column4" data-column="column4"></td>
          <td class="column100 column5" data-column="column5"></td>
          <td class="column100 column6" data-column="column6"></td>
          <td class="column100 column7" data-column="column7"></td>
          <td class="column100 column8" data-column="column8"></td>
        </tr>

        <tr class="row100" id="row5">
          <td class="column100 column1" data-column="column1"></td>
          <td class="column100 column2" data-column="column2"></td>
          <td class="column100 column3" data-column="column3"></td>
          <td class="column100 column4" data-column="column4"></td>
          <td class="column100 column5" data-column="column5"></td>
          <td class="column100 column6" data-column="column6"></td>
          <td class="column100 column7" data-column="column7"></td>
          <td class="column100 column8" data-column="column8"></td>
        </tr>

        <tr class="row100" id="row6">
          <td class="column100 column1" data-column="column1"></td>
          <td class="column100 column2" data-column="column2"></td>
          <td class="column100 column3" data-column="column3"></td>
          <td class="column100 column4" data-column="column4"></td>
          <td class="column100 column5" data-column="column5"></td>
          <td class="column100 column6" data-column="column6"></td>
          <td class="column100 column7" data-column="column7"></td>
          <td class="column100 column8" data-column="column8"></td>
        </tr>


        </tbody>
      </table>
    </div>
  </div>

  <script src="/js/calendar/stringBuffer.js"></script>
  <script src="/js/calendar/calendar.js"></script>
  <script src="/js/calendar/calendarSchedule.js"></script>

{{/layout}}