{{#layout}}

  <h1 class="headline3">평균 혈당 알아보기</h1>
  <div class="grid-container-for-chart">

    <div class="grid-chart-item checkbox">
      <div class="toggle-container">

        <div class="toggle-left">
          <div class="toggle-left-top">
            <select id="averageSelector">
              <option selected>조회할 평균 혈당을 선택하세요</option>
              <option value="averageFpg">공복 혈당</option>
              <option value="averageBreakFast">아침 혈당</option>
              <option value="averageLunch">점심 혈당</option>
              <option value="averageDinner">저녁 혈당</option>
              <option value="averageMeal">평균 식사 혈당</option>
            </select>
          </div>

          <div class="toggle-left-bottom">

          </div>
        </div>
        <div class="toggle-right">

        </div>
      </div>
    </div>

    <div class="grid-chart-item mini-calendar">
      <div style="margin-top:35%; margin-right:75%;">
        <button type="button" class="btn btn-primary" id="findAverageBtn">조회하기</button>
      </div>

    </div>

    <div class="grid-chart-item chart-container">
      <canvas id="myChartAverage"></canvas>
    </div>

  </div>


  <script src="/js/chart/average.js"></script>
{{/layout}}