{{#layout}}

  <h1 class="headline3">기간 내 공복 혈당 알아보기</h1>

  <div class="grid-container-for-chart">

    <div class="grid-chart-item checkbox">
      <div class="toggle-container">

        <div class="toggle-left">
          <div class="toggle-left-top">
            <b style="font-size: 20px">전체 기간</b>
          </div>

          <div class="toggle-left-bottom">
            <div class="switch-toggle">
              <label>
                <input type="checkbox">
                <span></span>
              </label>
            </div>
          </div>
        </div>
        <div class="toggle-right">
          <div style="margin-top:35%; margin-left:20%;">
            <button type="button" class="btn btn-primary">조회하기</button>
          </div>
        </div>
      </div>
    </div>


    <div class="grid-chart-item mini-calendar">
      aaa
    </div>

    <div class="grid-chart-item chart-container">
      <canvas id="myChart"></canvas>
    </div>

  </div>

  <script src="/js/chart/fastingPlasmaGlucose.js"></script>
{{/layout}}