{{#layout}}

  <h1 class="headline3">기간 내 공복 혈당 알아보기</h1>

  <div class="row-grid">
    <div class="chart option">

    </div>
    <div class="chart container">
      <canvas id="myChart"></canvas>
    </div>
  </div>


  <script src="/js/chart/fastingPlasmaGlucose.js"></script>
{{/layout}}