{{#layout}}

    <h1 class="headline3">먹은 음식들 알아보기</h1>

    <div class="input-group select-group">
        <input type="text" class="form-control" placeholder="음식 수량을 적어주세요." style="width:65%"/>
        <select class="form-control input-group-addon" style="width:35%">
            <option>단위를 정해주세요.</option>
            <option>g</option>
            <option>kg</option>
            <option>개</option>
            <option>리터</option>
            <option>밀리리터</option>
        </select>

    </div>
{{/layout}}