{{#layout}}

  <h1>일지 게시 </h1>

  <input type="button" value="api post 테스트" id="apiPostBtn"/>
  <input type="button" value="api get 테스트" id="apiGetBtn"/>

  <script src="/js/post/post.js"></script>
{{/layout}}