.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    height: 70%;
}

.chart-menu {
    padding: 20px;
    background-color:#b503fc;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.chart-menu a:link{
    color: white;
}

.chart-menu a:visited{
    color: white;
}

.chart-menu a:hover{
    color:grey;
}

.chart-menu a:active{
    color: white;
}