
{{>layout/header}}

<h1>혈당 일지 대문</h1>
{{#userPK}}
    PK:{{userPK}}
{{/userPK}}

{{#userNickName}}
    userName:{{userNickName}}
{{/userNickName}}

{{#userEmail}}
    email:{{userEmail}}
{{/userEmail}}


{{>layout/footer}}