
{{>layout/header}}

<h1>회원 가입 페이지</h1>

<div>
    <input type="text" name="name" id="username" placeholder="username"><br>
    <input type="password" name="password" id="password" placeholder="password"><br>
    <input type="email" name="email" id="email" placeholder="email"><br>
    <input type="submit" value="회원 가입" id="signupBtn"/>
</div>

<script src="/js/auth/signup.js"></script>

{{>layout/footer}}