{{#layout}}
    <link href="/css/login/loginForm.css" rel='stylesheet' type="text/css"/>

    <form action="login" id="login-form" method="post">
        <div class="head">Login</div>
        <div class="social">
            <h4>Connect with</h4>
            <ul>
                <li>
                    <a href="/oauth2/authorization/google" role="button" class="google"><i
                            class="fab fa-google"></i></a>
                </li>
                <li>
                    <a href="/oauth2/authorization/facebook" role="button" class="facebook"><i
                            class="fab fa-facebook-square"></i></a>
                </li>
                <li>
                    <a href="/oauth2/authorization/github" role="button" class="git"><i class="fab fa-github"></i></a>
                </li>
            </ul>
        </div>

        <div class="divider">
            <span>or</span>
        </div>

        <div class="loginFail">
            {{#error}}
                {{exception}}
            {{/error}}
        </div>

        <div class="input-field">

            <label for="username">user name</label>
            <input type="text" name="username" id="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" autocomplete="off"/>
            <input type="submit" value="Login"/>
            <input type="button" value="아이디 찾기" id="callModalIdBtn"/>
            <input type="button" value="비밀번호 찾기" id="callModalPasswordBtn"/>
            <p class="text-p">계정이 없으신가요? <a href="/join-form">회원 가입</a></p>

        </div>
    </form>

    <div class="container">
        <div class="modal-dialog" id="findIdModal">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" id="findIdModalHeader">
                    <h4 class="modal-title" style="color: white">ID 찾기</h4>
                </div>
                <div class="modal-body">
                    <hr>
                    <form role="form">
                        <div class="form-group">
                            <label for="emailForFindingId"><span class="glyphicon glyphicon-user"></span>email</label>
                            <input type="text" class="form-control" id="emailForFindingId" placeholder="가입 이메일을 입력하세요.">
                        </div>
                        <button type="button" class="btn btn-primary btn-block" id="findIdBtn">전송하기</button>
                    </form>
                    <hr>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"
                            id="cancelFindIdBtn"><span
                            class="glyphicon glyphicon-remove"></span> 취소하기
                    </button>
                </div>
            </div>


        </div>
    </div>

    <div class="container">
        <div class="modal-dialog" id="findPasswordModal">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" id="findPasswordModalHeader">
                    <h4 class="modal-title" style="color: white">비밀 번호 찾기</h4>
                </div>
                <div class="modal-body">
                    <hr>
                    <form role="form">
                        <div class="form-group">
                            <label for="emailForFindingPassword"><span
                                    class="glyphicon glyphicon-user"></span>email</label>
                            <input type="text" class="form-control" id="emailForFindingPassword"
                                   placeholder="가입 이메일을 입력하세요.">
                        </div>
                        <div class="form-group">
                            <label for="idForFindingPassword"><span class="glyphicon glyphicon-eye-open"></span>
                                ID</label>
                            <input type="text" class="form-control" id="idForFindingPassword"
                                   placeholder="가입 id를 입력하세요.">
                        </div>
                        <button type="button" class="btn btn-primary btn-block" id="findPasswordBtn">전송하기</button>
                    </form>
                    <hr>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"
                            id="cancelFindPasswordBtn"><span
                            class="glyphicon glyphicon-remove"></span> 취소하기
                    </button>
                </div>
            </div>


        </div>
    </div>


    <script src="/js/auth/infoValidator.js"></script>
    <script src="/js/auth/login.js"></script>
    <script src="/js/auth/findInfo.js"></script>
{{/layout}}