
.grid-container-for-chart {
    display: grid;
    grid-template-columns: 1fr 0.5fr 3fr;
    grid-template-rows:1fr 3fr;
    padding: 10px;
    height: 80vh;
}

.grid-chart-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.chart-container {
    grid-row-start: 1;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 5;
}

.checkbox {
    grid-column-start: 1;
    grid-column-end: 2;
}

.mini-calendar {
    grid-column-start: 1;
    grid-column-end: 2;
}

.toggle-container {
    display: flex;
}

.toggle-left{
    width: 50%;
    display: inline-block;
}

.toggle-right{
    flex-grow: 1;
}

.toggle-left-top {
    margin-bottom: -20px;
}

.toggle-left-bottom {
    margin-top: -50px;
}